<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Para Ekleme</title>
    <link href="/css/addbalance.css" rel="stylesheet"  >
</head>
<body>
<div class="container">
    <h2>Para Ekleme Formu</h2>
    <form action="#">
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" id="username" name="username" required>

        <label for="amount">Miktar:</label>
        <input type="number" id="amount" name="amount" required>

        <label for="money-code">Para Birimi Kodu:</label>
        <input type="text" id="money-code" name="money-code" required>

        <button type="submit">Gönder</button>
    </form>
</div>
</body>
</html>