<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Şifremi Unuttum</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <form action="sifre_sifirla.php" method="post">
        <h2>Şifremi Unuttum</h2>
        <p>Lütfen e-posta adresinizi girin:</p>
        <input type="email" id="email" name="email" placeholder="E-posta adresiniz" required>
        <input type="submit" value="Şifre Sıfırlama Linki Gönder">
    </form>
</div>
</body>
</html>